* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
a {
  text-decoration: none !important;
  color: white;
}

.track {
  width: 160px;
  height: 230px;
  min-width: 125px;
  min-height: 100px;
  background-color: rgb(44, 44, 44);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}
.track__img {
  flex: 0.5;
  object-fit: contain;
}
.track__img > img {
  height: 100%;
  width: 100%;
}
.track__content {
  margin-top: 10px;
}
.track__content p {
  /* font-size: x-small; */
  margin-top: 5px;
  color: #7e7e7e;
}
.play__btn {
  position: absolute;
  top: 90%;
  left: 90%;
  transform: translate(-90%, -90%);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  visibility: hidden;
  border-radius: 50%;
  background-color: #1db954;
  /* transition: 0.2s; */
}
.play__btn:hover {
  transform: translate(-90%, -90%) scale(1.05);
}
.track:hover .play__btn {
  visibility: visible;
}
