.player {
  display: flex;
  flex-direction: row;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  /* border-radius: 10px; */
  padding: 10px;
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4e4e4e;
}
